h1 {
    text-align: center;
    margin-bottom: 1.3em;
    font-family: 'Rubik', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Cabin', sans-serif;
    font-family: 'VT323', monospace;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

button {
    width: 140px;
    height: 50px;
    margin: 10px;
    padding: 0px 20px 0px 20px;
}

form {
    margin-top: 20px;
}
